<div>
{% for member in site.data.pi %}
<div class="jumbotron">
   <center>
   <a href="{{site.url}}{{site.baseurl}}/about"><img src="{{site.url}}{{site.baseurl}}/images/{{ member.photo }}" width="60%" style="block:inline; margin-left:auto; margin-right:auto; margin-bottom:5px;"/></a>
   <h4>{{ member.name }}</h4>
   <div style="margin-bottom:5px">
   {% if member.cv %} <a href="{{ site.url }}{{ site.baseurl }}/{{ member.cv }}" target="_blank"><i class="ai ai-cv-square ai-3x"></i></a> {% endif %}
   {% if member.scholar %} <a href="{{ member.scholar }}" target="_blank"><i class="ai ai-google-scholar-square ai-3x"></i></a> {% endif %}
   {% if member.github %} <a href="{{ member.github }}" target="_blank"><i class="fa fa-github-square fa-3x"></i></a> {% endif %}
   {% if member.researchgate %} <a href="{{ member.researchgate }}" target="_blank"><i class="ai ai-researchgate-square ai-3x"></i></a> {% endif %}
  </div>
  </center>

  <div class="row overflow:hidden">
    <div class="col text-start">
      <i class="fa fa-envelope fa-1x"></i> <a href="mailto:fadhlillah@hafiyyansayy.id" target="_blank">Official Email</a> 
    </div>
    <div class="col text-end">
      <i class="fa fa-envelope fa-1x"></i> <a href="mailto:hafiyyan.fadhlillah@jku.at" target="_blank">Work Email</a>
    </div>
  </div>

</div>
{% endfor %}
</div>

{% assign item_count = site.data.news | size %}
{% if item_count > 0 %}
<div class="jumbotron">
  <h4>News</h4>

  {% for article in site.data.news limit:3 %}
  <b>{{ article.date }}</b>
    <p>{{ article.headline }}</p>
  {% endfor %}
  
  <h5><a href="{{ site.url }}{{ site.baseurl }}/allnews.html">... see all News</a></h5>

</div>
{%endif%}